<div class="row">
  <div class="col-6">
    <div class="mb-3">
      <ng-container *ngIf="data">
        <button class="btn btn-secondary" (click)="clearData()">Clear</button>
        <ng-container *ngFor="let title of titles">
          <button 
            class="btn btn-primary"
            [ngClass]="{'active': activePage && title === activePage.title}"
            (click)="setPage(data[title])">
            {{ title }}
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!data">
        <input type="file" #fileInput (change)="onFileSelected($event)" accept=".txt">
      </ng-container>
    </div>
    <div *ngIf="activePage">
      <div class="col-6">
        <ng-container *ngFor="let item of activePage.items">
          <button 
            class="btn btn-dark"
            [ngClass]="{'active': item.id === activeId}"
            (click)="setItem(item.id)">
            {{ item.id }}
          </button>
          <!-- <a 
            class="btn btn-secondary"
            [ngClass]="{'active': item.id === activeId}"
            [href]="item.url">
            {{ item.id }}
          </a> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div #blockquoteContainer class="col-6 d-flex align-items-center justify-content-center">
    <blockquote class="imgur-embed-pub" lang="en" [attr.data-id]="activeId" data-context="false">
      <a href="//imgur.com/{{activeId}}"></a>
    </blockquote>
  </div>
</div>